body {
    background: #efefef;
}

main {
    display: flex;
    flex-direction: row;
}

.filter {
    margin-left: 75px;
}

.donut {
    position: relative;
}

.donut__chart svg path {
    stroke: #fff;
}

.donut__explanation {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar svg {
    overflow: visible;
}

.bar text {
    font-size: 1rem;
    font-weight: 700;
}

.timeline {
    margin-top: 45px;
}

.timeline .date {
    font-size: 0.8em;
}

.timeline svg {
    overflow: visible;
    padding-top: 60px;
}

.timeline text {
    font-size: 1rem;
    font-weight: 700;
}

.hide {
    opacity: 0
}
