body {
    background: #efefef;
}

.title .material-icons {
    font-size: 2.5rem;
}

.donut {
    position: relative;
}

.donut__chart svg path {
    stroke: #fff;
}

.donut__explanation{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}